<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "../static/Page.css">
    <script src="../static/Page.js"></script>
    <title>Home</title>
</head>
<body>
    <nav class="menu">
        </div>
            <ul>
                <li><a href ="http://127.0.0.1:5000/">Back to Search</a></li>
                <li><button onclick = "DisplayList()">Click for List</button></li>
            </ul>
        </div>
    </nav>
    <table id = "display" class = "display"></table>
    <p id = "display2" class ="display2">Directors for each corresponding row:</p>


</body>
</html>